.git
.DS_Store

web/node_modules
web/.next
web/.vercel
web/out
web/*.log
web/*.tsbuildinfo

generl_bacteria/*_scatter.png
generl_bacteria/test_jobs*.txt
generl_bacteria/my_v024_test*.txt
generl_bacteria/*_nifHDKENB.faa

__pycache__
*.pyc
